
/404MusicDownloader/bin
/404MusicDownloader/obj
/.vs

.vs/
*.suo
*.user
*.pdb
*.obj
*.o
*.tlb
*.tlh
*.tmp
*.log
*.bak
*.sbr
*.lib
*.ncb
*.dll
*.exe
*.com
*.ocx

packages/
*.nupkg

bin/
obj/

*.settings
*.userprefs

.vscode/

!*.sln
!*.csproj
!*.cs
!**/*.sln
!**/*.csproj
!**/*.cs